* {
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
    box-sizing: border-box;
}

::placeholder {
    font-weight: normal !important;
}

body {
    /* background-color: #212121!important; */
    /* color: #fff!important; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 2em;
    padding: 2em 0em !important;
    margin: 0em;
    width: 100vw;
    height: 100vh;
    /* background-image: url(../polling/index.html); */
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em !important;
}

.drop-down {
    background-color: #fff;
    color: #212121;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.drop-down:hover {
    background-color: #fff;
}

.dropdown-menu.show {
    background-color: #fff;
    color: #212121;
    border: 1px solid #212121;
}

.drop-down-options {
    /* background-color: #fff; */
    color: #212121;
    border: 0px;
}

.list {
    width: 8em;
    margin: 0em;
    display: inline-block;
    margin-left: 1em;
}

a,
.list>a {
    color: #212121;
    text-decoration: none !important;
    margin: 0.3em !important;
}

.icon {
    margin-right: 0.5em !important;
}

row {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
}

column,
.column {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.button {
    color: #212121;
    background-color: #fff;
    width: 5em;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1.2em;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 100%;
    text-align: center;
}